<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkinglot_backend.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.parkinglot_backend.entity.Store">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="storeName" column="StoreName" jdbcType="VARCHAR"/>
            <result property="serviceCategory" column="ServiceCategory" jdbcType="VARCHAR"/>
            <result property="serviceType" column="ServiceType" jdbcType="VARCHAR"/>
            <result property="businessHours" column="BusinessHours" jdbcType="VARCHAR"/>
            <result property="address" column="Address" jdbcType="VARCHAR"/>
            <result property="floorNumber" column="FloorNumber" jdbcType="INTEGER"/>
            <result property="description" column="Description" jdbcType="VARCHAR"/>
            <result property="recommendedServices" column="RecommendedServices" jdbcType="OTHER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,StoreName,ServiceCategory,
        ServiceType,BusinessHours,Address,
        FloorNumber,Description,RecommendedServices,image
    </sql>
    <select id="searchStoreName" resultType="com.parkinglot_backend.entity.Store"></select>
</mapper>
