<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkinglot_backend.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.parkinglot_backend.entity.Store">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="storename" column="StoreName" jdbcType="VARCHAR"/>
            <result property="servicecategory" column="ServiceCategory" jdbcType="VARCHAR"/>
            <result property="servicetype" column="ServiceType" jdbcType="VARCHAR"/>
            <result property="businesshours" column="BusinessHours" jdbcType="VARCHAR"/>
            <result property="address" column="Address" jdbcType="VARCHAR"/>
            <result property="floornumber" column="FloorNumber" jdbcType="INTEGER"/>
            <result property="description" column="Description" jdbcType="VARCHAR"/>
            <result property="recommendedservices" column="RecommendedServices" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,StoreName,ServiceCategory,
        ServiceType,BusinessHours,Address,
        FloorNumber,Description,RecommendedServices
    </sql>
</mapper>
